<div id="patient-content" class="content" style="display: block">
    <div class="columns">
        <div class="column is-2"></div>
        <div class="column is-8">
            <br>
            <br>
            <div class="box">

                <h2>{{patient.name}}</h2>
                <hr>

                <div class="columns">
                    <div class="column is-4">
                        <h5>Patient ID: {{patient.id}}</h5>
                        <h5>Birthday: {{patient.birthday}}</h5>
                        <h5>Address: {{patient.address}}</h5>
                        <h5>Email: {{patient.email}}</h5>
                    </div>
                    <div class="column is-4">
                        <h5>Doctors: </h5>
                        <ul>
                            {{#each patient.Doctors}}
                            <li>
                                <h6>{{name}}, {{specialty}}</h6>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="column is-4">
                        <h5>Prescriptions: </h5>
                        <ul>
                            {{#each patient.Prescriptions}}
                            <li>
                                <h6>{{brand}}</h6>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="
                        column is-2"></div>
    </div>
</div>