<div id="patient-content" class="content" style="display: block">
    <style>
        html {
            background: url("/images/patients.jpg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        h5 {
            color: white
        }
    </style>
    <div id="logout-box" class="has-text-centered navigation-box">
        <a href="\logout" style="color: white" class="hover-glow">
            <h2 class="subtitle" style="padding-top: 3px; font-size: 22px; color: white"> Sign out</h2>
        </a>
    </div>

    <div id="dashboard-box" class="has-text-centered navigation-box">
        <a href="\dashboard" class="hover-glow">
            <h2 class="subtitle" style="color: white; font-size: 20px; margin-top: 3px"> Dashboard</h2>
        </a>
    </div>



    <div class="columns">
        <div class="column is-2"></div>
        <div class="column is-8">
            <div class="box">

                <h2 style="color: white">{{patient.name}}</h2>
                <hr>

                <div class="columns">
                    <div class="column is-3">
                        <h5 style="color: white">Patient ID: {{patient.id}}</h5>
                        <h5 style="color: white">Birthday: {{patient.birthday}}</h5>
                        <h5 style="color: white">Blood Type: {{patient.bloodType}}</h5>
                        <h5 style="color: white">Address: {{patient.address}}</h5>
                        <h5 style="color: white">Email: {{patient.email}}</h5>
                        <h5 style="color: white">Emergency Contact: <br> {{patient.emergencyContact}} <br>
                            {{patient.contactPhone}}
                        </h5>

                    </div>
                    <div class="column is-3">
                        <h5 style="color: white">Doctors: </h5>
                        <ul>
                            {{#each patient.Doctors}}
                            <li>
                                <h6 style="color: white">{{name}}, {{specialty}}, {{phone}}</h6>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="column is-3">
                        <h5 style="color: white">Prescriptions: </h5>
                        <ul>
                            {{#each patient.Prescriptions}}
                            <li>
                                <h6 style="color: white">{{brand}}</h6>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="column is-3">
                        <h5 style="color: white">Insurance: </h5>
                        <ul>
                            {{#each patient.Insurances}}
                            <li>
                                <h6 style="color: white">{{company}} | {{Phone}}</h6>
                            </li>
                            {{/each}}
                        </ul>



                    </div>
                </div>
            </div>
        </div>
        <div class="column is-2"></div>
    </div>
</div>